:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color-scheme: light dark;
  color: white;
  background-color: #5a645a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --bg: #0f172a;
  --bg-dark: #1e293b;
  --bg-header: #111827;
  --text: #e2e8f0;
  --link: #60a5fa;
  --accent: #3b82f6;
  --border: #334155;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
